* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.bar-loader {
  position: absolute;
  border-top: 5px solid;
  border:  2px solid;
  animation: translateLine 5s linear infinite;
}

@keyframes translateLine {
  0% {
    width: 50%;
    transform: translateX(-200%);
    border-color: #ffcd02;
  }
  50% {
    width: 80%;
    transform: translateX(50%);
    border-color:#e84f47
  }
  100% {
    width: 50%;
    transform: translateX(200%);
    border-color:#ffcd02
  }
}
